# Python virtual environment
myenv/
venv/
env/

# Dataset and data directories
data/
dataset/
dog_waste_images/
*.pt
*.pth
*.weights
*.onnx
*.engine
*.trt
*.log
*.csv
*.json
*.yaml
*.yml
*.txt
!requirements.txt
!LICENSE
!README.md

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

#datasets
dataset
dataset_yolo
src/runs
src/yolo11n.pt
src/yolov8m.pt